@model PostModel

@{

}

<form method="post" asp-controller="Home" asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    <div>
        <label>title</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Content</label>
        <input asp-for = "Content" />
    </div>
    <input type="submit" value="submit" />
</form>