@model IEnumerable<PostModel> 

@{

}

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller = "Home" asp-action="Post" asp-route-id = "@item.Id">@item.Title</a>
               
            </li>

        }
    </ul>
</div>