@model IEnumerable<PostModel> 

@{

}
<img src="~/content/static/pexels-min-an-1448709.jpg" width=200 />
<div>
    
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller = "Home" asp-action="Post" asp-route-id = "@item.Id">@item.Title</a>
               
            </li>

        }
    </ul>
</div>